<div class="col-3 pb-3">
  <div class="card badge_card mx-auto shadow">
    <%= image_tag badge.image_url, class: 'card-img-top round_image' %>
    <div class="card-body">
      <h5 class="card-title"><%= badge.title %></h5>
      <%= link_to t('.edit'), edit_admin_badge_path(badge), class: "card-link text-info" %>
      <%= link_to t('.remove'),
                  admin_badge_path(badge),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "card-link text-danger" %>
    </div>
  </div>
</div>
