<header class="p-3 bg-dark text-white">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <%= link_to 'Admin Panel Test Guru', admin_tests_path, class: "d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" %>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto text-white">
        <span class="me-3 py-2 text-dark text-decoration-none text-white">Welcome, <%= current_user.email %> Guru</span>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "me-3 py-2 text-dark text-decoration-none text-white" %>
    </nav>
  </div>
</header>
