<tr>
  <td><%= answer.body %></td>
  <td><%= link_to 'Show', answer %></td>
  <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
  <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>