<tr>
  <td><%= answer.body %></td>
  <td><%= link_to 'Show', admin_answer_path(answer) %></td>
  <td><%= link_to 'Edit', edit_admin_answer_path(answer) %></td>
  <td><%= link_to 'Destroy', admin_answer_path(answer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>