footer {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;

  #right {
    float: right;
    list-style: none;
    margin-top: 15px;

    li {
      float: left;
      margin-right: 15px;
    }
  }

  #left {
    float: left;
    list-style: none;
    margin-top: 15px;

    li {
      float: left;
      margin-right: 15px;
    }
  }
}

h2 {
  color: Tomato;
}

span.incorrect {
  color: indianred;
}

span.correct {
  color: mediumseagreen;
}
