.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.progress {
  width: 100%;
  background-color: grey;
  margin-bottom: 10px;
}

.progress-bar {
  height: 30px;
  background-color: green;
  color: white;
}
