.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.progress {
  width: 100%;
  background-color: grey;
  margin-bottom: 10px;
}

.progress-bar {
  height: 30px;
  background-color: green;
  color: white;
}

.round_image {
  border-radius: 100px;
  width: 200px;
  height: 200px;
 }

 .badge_card {
  width: 200px;
 }
