<h2>Tests:</h2>
<hr>
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Questions</th>
    <th colspan="4">Actions</th>
  </tr>

  <%= render @tests %>

</table>
<hr>
<%= link_to 'Create new test', new_test_path %>
