<footer>
  <ul id="right">
    <li>Test Guru - это приложение для создания / решения тестов.</li>
    <li><%= link_to 'Учебный проект в онлайн-школе Thinknetica.', 'http://thinknetica.com/', target: '_blank' %></li>
  </ul>
  <ul id="left">
    <li><%= current_year %></li>
    <li>galuropek</li>
    <li><%= github_url('galuropek', 'rails_basic') %></li>
  </ul>
</footer>